fa-icon{
    cursor: pointer;
}

table {
    width: 100%;
}

.mat-column-actions>div {
    display: flex;
    gap: 0.6rem;
}

@media screen and (max-width: 440px) {
    mat-card-content{
        overflow-x: scroll;
    }
}